@import "../../../styles/mixins";

.conatiner {
  width: 100%;
  height: 80vh;
  background-color: #FFF5EC;
  display: flex;
  justify-content: center;

  .back {
    font-weight: bold;
    font-size: large;
    @include main-color;
    text-decoration: none;
  }

  .content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
      width: 50%;
    }

    .rg {
      display: grid;
      width: 45%;
      height: 55%;

      .name {
        font-size: 3vw;
        font-style: normal;
        font-weight: bold;
        text-transform: capitalize;
        color: #2E266F;
      }

      .price {
        font-weight: bold;
        font-size: x-large;
        @include main-color;
      }

      button {
        width: 35%;
        height: 10vh;
        @include bg-color;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
        outline: none;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  
  .back {
    display: none;
  }

  .conatiner .content {
    flex-wrap: wrap;

    img {
      width: 100%;
    }

    .rg {
      width: 100%;
      display: grid;
      text-align: center;

      .name {
        font-size: xx-large;
      }

      button {
        margin: 5% auto 0;
      }
    }
  }
}
