<div class="container">
  <div class="content">
    <a [routerLink]="[ '/home' ]" class="title">expice</a>
    <nav>
      <a [routerLink]="[ '/menu/burger' ]">Burgers</a>
      <a [routerLink]="[ '/menu/salad' ]">Salads</a>
      <a [routerLink]="[ '/menu/drink' ]">Drinks</a>
    </nav>
    <div class="icn">
      <a [routerLink]="[ '/auth' ]" *ngIf="!isLogin">
        <img src="/assets/img/icons/header/user.png" alt="" class="user">
      </a>
      <a [routerLink]="[ '/user' ]" *ngIf="isLogin">
        <img src="/assets/img/icons/header/user.png" alt="" class="user">
      </a>
      <a [routerLink]="[ '/basket' ]">
        <img src="/assets/img/icons/header/basket.png" alt="" class="basket">
      </a>
    </div>
    <nav role="navigation" class="burger">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <nav>
            <a [routerLink]="[ '/menu/burger' ]">Burgers</a>
            <a [routerLink]="[ '/menu/salad' ]">Salads</a>
            <a [routerLink]="[ '/menu/drink' ]">Drinks</a>
          </nav>
          <div class="icn">
            <a [routerLink]="[ '/auth' ]" *ngIf="!isLogin">
              <img src="/assets/img/icons/header/user.png" alt="" class="user">
            </a>
            <a [routerLink]="[ '/user' ]" *ngIf="isLogin">
              <img src="/assets/img/icons/header/user.png" alt="" class="user">
            </a>
            <a [routerLink]="[ '/basket' ]">
              <img src="/assets/img/icons/header/basket.png" alt="" class="basket">
            </a>
          </div>
        </ul>
      </div>
    </nav>
    <a [routerLink]="[ '/home' ]" class="title">expice</a>
  </div>
</div>
