.container {
  height: 400vh;
  background-color: #FFF5EC;
  display: flex;
  padding: 0 2%;
  overflow: hidden;
}

.menu {
  margin-right: 2%;
}

li {
  list-style: none;

  a {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: #2E266F;
    padding: 5%;
    border-radius: 5%;
  }

  a:hover {
    background-color: #FFEDDE;
  }
}
