@import "../../../styles/mixins";

/* top */

.container {
  width: 100%;
  height: 96vh;
  @include center;
  justify-content: space-between;
  position: relative;
  background-color: #FFF5EC;

  img {
    width: 45%;
    position: absolute;
    right: 5%;
  }

  .title {
    display: grid;
    margin-left: 10%;

    .ghost {
      font-size: 800%;
      font-weight: 900;
      text-transform: capitalize;
      color: #2E266F;
      opacity: 0.1;
    }

    .txt {
      width: 28vw;
      font-size: 200%;
      font-weight: bold;
      text-transform: capitalize;
      color: #2E266F;
    }
  }
}

.container::after {
  content: "";
  display: block;
  width: 25%;
  height: 96vh;
  @include bg-color;
}

/* items */

.products {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF5EC;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    height: 90%;
  }

  .item {
    width: 17vw;
    height: 100%;
    border-radius: 5%;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .item:last-child {
    background-color: #FFEDDE;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    @include main-color;
    line-height: 35vh;
  }
}

/* blog */

.block {
  width: 100%;
  height: fit-content;
  background-color: #FFF5EC;
}

.blog {
  @include center;
  justify-content: space-around;

  span {
    max-width: 35%;
    font-size: small;
    font-weight: normal;
    text-transform: capitalize;
    color: #707070;
  }
}

.topic {
  @include center;
  position: relative;
  width: 25vw;

  p {
    font-size: 2vw;
    font-style: normal;
    font-weight: bold;
    color: #2E266F;
  }
}

.topic::before {
  content: "";
  display: block;
  @include bg-color;
  width: 1vw;
  height: 12vh;
  position: absolute;
  left: -8%;
}

/* service */

.advantages {
  width: 90%;
  display: flex;
  margin: 0 auto;

  .lf {
    display: grid;
    margin-top: 2%;

    .adv {
      @include center;

      .square {
        width: 25vw;
        height: 40vh;
        background-color: #FFEDDE;
        padding: auto;
        @include center;
        justify-content: center;
        margin-right: 10%;

        img {
          width: 60%;
        }
      }
    }
  }

  .txt:last-child {
    margin-right: 10%;
  }

  .txt span {
    font-size: x-large;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    color: #2E266F;
  }

  .txt p {
    max-width: 75%;
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    color: #707070;
  }

  .txt-center {
    margin: 0 auto;
    display: grid;
    width: 75%;

    p {
      margin: 0 auto;
      text-align: center;
    }
  }

  .span_center {
    text-align: center;
  }

  .rg {
    background-color: #FFEDDE;
    display: grid;
    align-items: center;
    margin-top: 2%;

    img {
      margin: 0 auto;
      width: 60%;
      height: 60%;
    }
  }
}


/* products */

.block-products {
  text-align: center;
  padding-top: 3%;
  height: fit-content;

  span {
    font-weight: bolder;
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: #2E266F;
  }

  p {
    margin: 0 auto;
    color: #707070;
  }
}

@media all and (max-width: 800px) {

  .container {
    flex-wrap: wrap;
    height: fit-content;
    align-items: flex-start;
    text-align: center;
    justify-content: center;

    .title {
      width: 90vw;
      margin: 0 auto;

      .txt {
        margin: 0 auto; 
        font-size: 180%;
        width: 90vw;
      }
    }
  }

  .container img {
    position: inherit;
    width: 90vw;
    margin: 0 auto;
  }

  .container::after {
    display: none;
  }

  .products {
    display: grid;
    width: 100%;
    height: fit-content;
  }

  .products a {
    display: none;
  }

  .products a:first-child {
    display: block;
    width: 80%;
    margin:0 auto 5%;

    .item {
      width: 100%;
    }
  }

  .products a:last-child {
    display: flex;
    width: 80%;
    margin: 0 auto;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .serv_topic span {
    font-size: 2vw;
  }

  .topic {
    width: 45vw;

    p {
      font-size: 4vw;
    }
  }

  .advantages {
    display: grid;
    height: fit-content;

    .lf {
      width: 100%;
      height: 50%;

      .adv {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 20%;
        height: fit-content;

        .square {
          width: 45%;
          padding: 5%;
        }

        .txt {
          font-size: 3vw;

          span {
            font-size: 5vw;
          }
        }
      }
    }

    .square:last-child {
      margin-right: 5%;
    }

    .rg {
      margin-top: 5%;
      height: fit-content;
      padding-bottom: 5%;
    }
  }

  .block-products p {
    width: 85%;
  }
}
