<div class="container">
  <div class="title">
    <span class="ghost">Food</span>
    <span class="txt">Discover Restaurant & Delicious Food</span>
  </div>
  <img src="/assets/img/home/plate.png" alt="">
</div>

<div class="products">
  <a [routerLink]="[ '/menu/burger/big_mac' ]">
    <div class="item"><img src="/assets/img/home/items/BigMac.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/burger/bigtexas' ]">
    <div class="item"><img src="/assets/img/home/items/BigTexas.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/burger/double_chicken_kentuky' ]">
    <div class="item"><img src="/assets/img/home/items/Double Chicken Kentuky.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/burger/burgerporkonion' ]">
    <div class="item"><img src="/assets/img/home/items/UABurgerPorkOnion.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/burger' ]">
    <div class="item">Show more</div>
  </a>
</div>

<div class="block">
  <div class="blog">
    <div class="topic">
      <p>Some top restaurant for dining in or take away!</p>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus.</span>
  </div>
</div>

<div class="products">
  <a [routerLink]="[ '/menu/drink/fantamedium' ]">
    <div class="item"><img src="/assets/img/home/items/FantaMedium.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/drink/mocco_glass' ]">
    <div class="item"><img src="/assets/img/home/items/Mocco_Glass.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/drink/spritemedium' ]">
    <div class="item"><img src="/assets/img/home/items/SpriteMedium.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/drink/coffeelattemedium' ]">
    <div class="item"><img src="/assets/img/home/items/CoffeeLatteMedium.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/drink' ]">
    <div class="item">Show more</div>
  </a>
</div>

<div class="block">
  <div class="blog">
    <div class="topic">
      <p>Our Services</p>
    </div>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus.</span>
  </div>

  <div class="advantages">
    <div class="lf">
      <div class="adv">
        <div class="square">
          <img src="/assets/img/home/speaking.png" alt="">
        </div>
        <div class="txt">
          <span>advanced table booking</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="adv">
        <div class="txt">
          <span>Food For Free 24/7</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="square">
          <img src="/assets/img/home/dinner.png" alt="">
        </div>
      </div>
    </div>
    <div class="rg">
      <img src="/assets/img/home/scooter.png" alt="">
      <div class="txt txt-center">
        <span class="span_center">free home delivery at your door steps</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  
</div>

<div class="block block-products">
  <span>Explore Our Foods</span>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus.</p>
</div>

<div class="products">
  <a [routerLink]="[ '/menu/salad/cezar' ]">
    <div class="item"><img src="/assets/img/home/items/cezar.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/salad/bowl_salad' ]">
    <div class="item"><img src="/assets/img/home/items/Bowl Salad.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/salad/isolated_salad' ]">
    <div class="item"><img src="/assets/img/home/items/Isolated Salad.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/salad/vegetablesalad' ]">
    <div class="item"><img src="/assets/img/home/items/VegetableSalad.jpg" alt=""></div>
  </a>
  <a [routerLink]="[ '/menu/salad' ]">
    <div class="item">Show more</div>
  </a>
</div>
