<div class="container">
  <div class="content">
    <form>
      <label for="adress">Adress</label>
      <input type="text" placeholder="Write your adress">
      <label for="name">Name</label>
      <input type="text" placeholder="Write your name">
      <label for="phone">Phone</label>
      <input type="tel" placeholder="Write your phone number">
      <label for="payment">Payment method</label>
      <select name="payment" id="payment">
        <option>Choose type</option>
        <option value="card">Card</option>
        <option value="cash">Cash</option>
      </select>
      <button>Order</button>
    </form>
  </div>
</div>
